<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--페이징 로딩속도 향상을 위해 csss는 헤더, js는 푸터 선언-->
    <link rel="stylesheet" href="https://stachpath.bootstrapapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
